<div class='sign-up-details'>
  <%= link_to root_path do %>
    <%= image_tag 'back.png', class: 'back' %>
  <% end %>

  <h2 class='signUp'>Sign up</h2>

</div>
<br/>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <div class="field">
  <%= f.text_field :name, autofocus: true, placeholder:'Name field'%>
</div>
<br/>
  <div class="field">
    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: 'email',class: 'entry field' %>
  </div>

  <div class="field">
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password",placeholder: 'password', class: 'entry_field' %> <br/>
  </div>
<br/>
  <div class="field">
    <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: 'Password confirmation', class: 'entry-field' %>
  </div>
<br/>
  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<div class='centered-text top-gap'>
<%= render "devise/shared/links" %>
</div>